div.waku {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  border-radius: 5px;
  margin: 10px;
  padding:10px;
}

div#proc {
  display: none;
}

input#DirectoryCreateForm {
  display: none;
  width: 100%;
  font-size:22px;
}

img#spinner {
  display: none;
}

div.fileObject {
  display: table;
  width: 100%;
  height: 30px;
  padding: 4px;
  border-radius: 5px;
}

div.fileObject:nth-child(even) {
  background-color: #fcfcfc;
}

div.cell {
  display: table-cell;
}

div.right {
  text-align:right;
}

span.directory:hover, span.file:hover, span.renameButton:hover {
  cursor: pointer;
  text-decoration: underline;
}

span.name_form {
  margin-left: 5px;
}

span.rename_form {
  display: none;
}

input.checkbox {
  transform: scale(2);
}

input.renameField {
  font-size: 22px;
  width: 800px;
}

.display_none {
  display: none;
}

div.cuted {
  opacity:0.2;
}

input.misenai {
  opacity:0;
}

img {
  vertical-align: middle;
}

// .field_with_errors input {
//   background-color: #f2dede;
// }
