div.waku {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  border-radius: 5px;
  margin: 10px;
  padding:7px;
}

div.line {
  margin-top: 3px;
}

img {
  vertical-align: middle;
}
