div.waku {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  border-radius: 5px;
  margin: 10px;
  padding:7px;
}

div.line {
  margin-top: 3px;
}

div#new_directory_form {
  display: none;
}

span.rename_object {
  display: none;
}

input.rename_field {
  width: 500px;
}

img {
  vertical-align: middle;
}

input[type=checkbox] {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

input.rename_field {
  font-size:20px;
}
